<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Booked Hotels</title>
  </head>
  <body style="margin:10px 30px">
    <p style="font-size: 50px;text-transform: uppercase;padding-bottom: 10px;border-bottom: 4px solid black;text-align: center">Booked Hotels</p>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for(let i=0;i< hotels.length;i++){ %>
  <div class="col">
    <div style="border:2px solid black;background-color: yellow" class="card h-100">
      <div class="card-body">
        <h3 style="text-align: center!important;" class="card-title">Trip on <%=hotels[i].type%></h3>
        <p class="card-text"><span style="font-weight: 500">Name</span>: <span style="color:orange"><%=hotels[i].firstname%> <%=hotels[i].lastname%></span></p>
        <p class="card-text"><span style="font-weight: 500">Email</span>: <span style="color:orange"><%=hotels[i].email%></span></p>
        <p class="card-text"><span style="font-weight: 500">Contact</span>: <span style="color:orange"><%=hotels[i].contact%></span></p>
        <p class="card-text"><span style="font-weight: 500">Number of People</span>: <span style="color:orange"><%=hotels[i].people%></span></p>
        <p class="card-text"><span style="font-weight: 500">Check In Date</span>: <span style="color:orange"><%=hotels[i].checkin%></span></p>
        <p class="card-text"><span style="font-weight: 500">Check Out Date</span>: <span style="color:orange"><%=hotels[i].checkout%></span></p>
        <form action="/hotel-data" method="POST">
          <input type="hidden" value="<%=hotels[i]._id%>" name="id">
          <div style="display: flex;justify-content: center;">
            <button type="submit" class="btn btn-warning">Update</button
          </form>
          <form action="/deletehotel" method="POST">
            <input type="hidden" value="<%=hotels[i]._id%>" name="id">
            <button style="margin-left:15px" type="submit" class="btn btn-danger">Delete</button>
          </form>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%}%>
</div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
</html>
